.example-block {
  /* padding: 10px; Внутренний отступ элементов */

  /* margin: 10px; Внешний отступ элементов */

  /* width: 500px; Жестко устанавливает ширину блочных элементов */

  /* max-width: 500px; Устанавливает максимальную ширину блочных элементов */

  /* min-width: 500px; Устанавливает минимальную ширину блочных элементов */

  /* height: 200px; Устанавливает высоту блочных элементов */

  /* max-height: 200px; Устанавливает максимальную высоту блочных элементов */

  /* min-height: 50px; Устанавливает минимальную высоту блочных элементов */

  /* 

    overflow - управляет отображением содержания блочного элемента

    overflow: auto;

    visible - показывает всё, что находится за пределами блока (то есть если контент выходит за его границы, он будет виден)
    hidden - скрывает всё, что находится за пределами блока
    scroll - включает скролл у этого блока (прокрутку)
    auto - подключает полосы прокрутки только когда они нужны
  */

  /* 
    display - это Многоцелевое свойство, которое определяет, как элемент должен быть показан в документе.
    С помощью него можно сделать элемент блочным или строчным (и остальные свойства)

    display: block;

    none - временно удаляет элемент из документа
    block - делает элемент блочным
    inline - делает элемент строчным
    inline-block - элемент остается строчным: 
    занимает ширину равную контунту, выстраивается в строку 
    но на него начинают действовать описаные свойства ширины, высоты и отступов.
  */

  border: 1px solid #000;
}

.example-string {
  padding: 20px;
  display: block;
}

.example-inline-block {
  display: inline-block;

  border: 1px solid #000;
  padding: 20px;
  width: 500px;
}
