.example-block {

  padding: 15px;

  /*  border
      border: 5px solid #000;

      Граница вокруг элемента, 1 параметр - толщина границы, 2 - стиль границы, 3 - код цвета границы 
      Есть несколько значений стиля границы - solid, dotted, dashed

      Границы можно устанавливать с любой стороны, с помощью border-top, border-bottom и т.д.

      Так же можно убрать границу только с одной стороны, с помощью border-left: none; или 0
  */

  /* border-radius
      border-radius: 10px;

      Устанавливает округление у блочного элемента
  */

  /*  outline
      outline: 10px solid red;

      Универсальное свойство, одновременно устанавливающее цвет, стиль и толщину внешней границы на всех четырех сторонах элемента. 
      В отличие от линии, задаваемой через border, свойство outline не влияет на положение блока и его ширину. 
      Также нельзя задать параметры линии на отдельных сторонах элемента, outline применяется сразу ко всем четырём сторонам.

      То есть граница может быть не видна полностью из-за обнуления стилей.
  */

  /*  box-shadow
      Устанавливает тень вокруг и внутри элемента.

      box-shadow: 5px 5px 10px 5px #000, inset 5px 5px 10px 5px #000;
      Через запятую и inset можно установить внутреннюю тень. 
  */

  /*  opacity
      opacity: 0.5;

      Устанавливает прозрачность элемента. Значение от 0 до 1
      Блок не убирается из верстки, а только становится прозрачным. 
      При этом с контентом можно взаимодействовать
  */
  
  /*  visibility 
      visibility: hidden;
      
      Скрывает элемент со страницы, место где он был остается пустым.
      Похож на opacity, только с контентом нельзя взаимодействовать.
  */


  font-size: 50px;
  margin: 20px; 
}

.example-string {
  font-size: 50px;
}